<!--

    Authors: M. Kaan Arici - Nikki Deleuran

-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Damage Report Form</title>
    <link href="../../../static/css/global.css">
    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" th:href="@{/css/createDamage.css}"/>
    <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" th:href="@{/css/createDamage.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/crud_buttons.css}"/>
</head>
<body>
<div class="container">
    <!-- Top panel section-->
    <div th:replace="/fragments/shared/navbar.html :: overviewNavBar"></div>
    <br><br>
    <div th:replace="/forms/damage/createDamageForm.html :: createDamageForm(${damageReport}, ${damage})"></div>
</div>
</body>
</html>