<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="../../static/css/global.css">
  <link rel="stylesheet" th:href="@{/css/global.css}"/>
  <link rel="stylesheet" th:href="@{/css/create_registration.css}"/>
</head>
<body>
<div class="container">
  <!-- Top panel section
  <top fragment>
  -->
  <div th:replace="/fragments/navbar.html :: overviewNavBar"></div>
  <div class="label-row">
    <h1 style="color: white">Lejekontrakt</h1>
    <div id="label-font">Opret en ny kontrakt</div>
  </div>
  <div class="form form-dims form-grid">
    <div class="ipts-row ipts-row-dims">
      <label for="customer-name" >Title</label>
      <input id="customer-name" name="customer-name" class="ipt-text">
    </div>
    <div class="ipts-row ipts-row-dims">
      <label for="start-date">Title</label>
      <input type="date" id="start-date" name="start-date" class="ipt-date">
    </div>
    <div class="ipts-row ipts-row-dims">
      <!-- License id-->
      <label for="license-id">Title</label>
      <input id="license-id" name="license-id" class="ipt-text">
    </div>
    <div class="ipts-row ipts-row-dims">
      <!-- End date-->
      <label for="end-date">Title</label>
      <input id="end-date" name="end-date" type="date" class="ipt-date">
    </div>
    <div class="ipts-row ipts-row-dims">
      <label for="customer-address">Title</label>
      <input id="customer-address" name="customer-address" class="ipt-text">
    </div>
    <div class="ipts-row ipts-row-dims">
      <label for="customer-birth">Title</label>
      <input id="customer-birth" name="customer-birth" type="date" class="ipt-date">
    </div>
    <div class="ipts-row ipts-row-dims">
      <label for="customer-phone" class="ipt-label">Title</label>
      <input id="customer-phone" name="customer-phone" class="ipt-text">
    </div>
    <div class="ipts-row ipts-row-dims">
      <label for="cars" class="ipt-label">Vognnummer</label>
      <select name="cars" id="cars" class="ipt-date">
        <option value="TS 116">TS 116</option>
        <option value="TS 166"> TS 166 </option>
      </select>
    </div>
  </div>
  <div class="btn-flex"><input class="submit-btn" type="submit"></div>
</div>
</body>
</html>