<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="../../static/css/global.css">
  <link rel="stylesheet" th:href="@{/css/global.css}"/>
  <link rel="stylesheet" th:href="@{/css/create_registration.css}"/>
</head>
<body>
<div class="container">
  <!-- Top panel section
  <top fragment>
  -->
  <div class="agr-form-grid">
    <div class="label-row div-border">
      <h1>Lejekontrakt</h1>
      <div id="label-font">Opret en ny kontrakt</div>
    </div>
    <div class="ipts-row">
      <!-- Customer name-->
      <p class="ipt-title-font">Title</p>
      <input class="ipt-text">
    </div>
    <div class="ipts-row">
      <!-- Start date-->
      <p class="ipt-title-font">Title</p>
      <input type="date" class="ipt-date">
    </div>
    <div class="ipts-row">
      <!-- License id-->
      <p class="ipt-title-font">Title</p>
      <input class="ipt-text">
    </div>
    <div class="ipts-row">
      <!-- End date-->
      <p class="ipt-title-font">Title</p>
      <input type="date" class="ipt-date">
    </div>
    <div class="ipts-row">
      <!-- Customer address-->
      <p class="ipt-title-font">Title</p>
      <input class="ipt-text">
    </div>
    <div class="ipts-row">
      <!-- Customer birthday-->
      <p class="ipt-title-font">Title</p>
      <input type="date" class="ipt-date">
    </div>
    <div class="ipts-row">
      <!-- Customer phone number-->
      <p class="ipt-title-font">Title</p>
      <input class="ipt-text">
    </div>
    <div class="ipts-row">
      <!-- Customer car number-->
      <p class="ipt-title-font">Title</p>
      <select class="ipt-date"></select>
    </div>
    <input class="submit-btn" type="submit" th:text="Opret">
  </div>
</div>
</body>
</html>