<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="../../static/css/global.css">
  <link rel="stylesheet" th:href="@{/css/global.css}"/>
  <link rel="stylesheet" th:href="@{/css/create_registration.css}"/>
  <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
  <link rel="stylesheet" th:href="@{/css/pageTitle.css}"/>

</head>
<body>
<div class="container">
  <!-- Top panel section
  <top fragment>
  -->
  <div th:replace="/fragments/navbar.html :: overviewNavBar"></div>

  <div th:replace="/fragments/page_title.html :: title(Lejekontrakt, 'Opret en ny kontrakt')"/>
  <div th:replace="/forms/form_fragment.html :: formFragment(${agreement},${cars})"></div>
</div>
</body>
</html>