<div th:fragment="cardGrid(agreement, report)" class="card__grid">
    <!--  Customer Information Card  -->
    <div class="card">
        <div class="card__wrapper">
            <div th:insert="~{/fragments/single_rental_overview/CardTitle.html :: cardTitle(Kundeinformation)}"/>
            <div class="info__area">
                <div th:replace="~{/fragments/single_rental_overview/InfoBox.html :: infoBox(NAVN, ${agreement.getCustomerName()})}"/>
                <div th:replace="~{/fragments/single_rental_overview/InfoBox.html :: infoBox(ADRESSE, ${agreement.getCustomerAddress()})}"/>
                <div th:replace="~{/fragments/single_rental_overview/InfoBox.html :: infoBox(TELEFONNUMMER, ${agreement.getCustomerPhone()})}"/>
                <div th:replace="~{/fragments/single_rental_overview/InfoBox.html :: infoBox(KØREKORTSNUMMER, ${agreement.getLicenseID()})}"/>
            </div>
        </div>
    </div>

    <!--  Car Information Card  -->
    <div class="card">
        <div class="card__wrapper">
            <div th:insert="~{/fragments/single_rental_overview/CardTitle.html :: cardTitle(Bilinformation)}"/>
            <div class="info__area">
                <div th:replace="~{/fragments/single_rental_overview/InfoBox.html :: infoBox(BILNUMMER, ${agreement.getCarNumber()})}"/>
                <div th:replace="~{/fragments/single_rental_overview/InfoBox.html :: infoBox(STELNUMMER, ${agreement.getVin()})}"/>
                <div th:replace="~{/fragments/single_rental_overview/InfoBox.html :: infoBox(MÆRKE, ${agreement.getBrand()})}"/>
                <div th:replace="~{/fragments/single_rental_overview/InfoBox.html :: infoBox(MODEL, ${agreement.getModel()} + ', ' + ${agreement.getYear()})}"/>
            </div>
        </div>
    </div>

    <!--  Damage Report Card  -->
    <div class="card">
        <div class="card__wrapper">
            <div class="card__title">
                <h2>Skadesrapport</h2>
                <a th:if="${report.getId() != null}" action="#" th:href="@{/report/damage/new(rentalID=${agreement.getId()})}">
                    <button>Tilføj skade</button>
                </a>
                <form th:if="${report.getId() == null}" action="#" th:action="@{/report/new(rentalId=${agreement.getId()})}" method="post">
                    <button>Opret</button>
                </form>
            </div>
            <div class="damage__cards no-scrollbar">
                <div th:if="${report.getDamages().size() > 0}" th:each="damage : ${report.getDamages()}">
                    <div th:replace="~{/fragments/single_rental_overview/DamageCard.html :: damage(${damage}, ${agreement.getId()})}"/>
                </div>
                <div th:if="${report.getId() == null}" class="damage__error">
                    Der eksisterer ikke en skadesrapport
                </div>
                <div th:if="${report.getDamages().size() == 0 && report.getId() != null}" class="damage__error">
                    Der eksisterer ingen skader
                </div>
            </div>
        </div>
    </div>
</div>