<!-- Author: Martin Hansen -->

<div th:fragment="formFragment(agreement,cars)" xmlns:th="http://www.thymeleaf.org">
  <form action="#"
        th:action="@{/rental/new}"
        method="post"
        th:object="${agreement}">
    <input th:field="*{id}" type="hidden">
    <input th:field="*{vin}" type="hidden">
    <div class="form form-grid">
      <div class="ipts-row ipts-row-dims">
        <label class="ipt-label default-font" for="customerName" >Navn</label>
        <input value="Jens Kværner" id="customerName" name="customerName" class="form-ipt">
      </div>
      <div class="ipts-row ipts-row-dims">
        <label class="ipt-label default-font">Start dato</label>
        <input value="2022-12-01" type="date" id="start" name="start" class="form-ipt">
      </div>
      <div class="ipts-row ipts-row-dims">
        <label class="ipt-label default-font" for="licenseID">Kørekort nummer</label>
        <input type="number" id="licenseID" value="12345678" name="licenseID" class="form-ipt">
      </div>
      <div class="ipts-row ipts-row-dims">
        <label class="ipt-label default-font" for="expiration">Slut dato</label>
        <input value="2023-04-01" id="expiration" name="expiration" type="date" class="form-ipt">
      </div>
      <div class="ipts-row ipts-row-dims">
        <label class="ipt-label default-font" for="delevery">Afleverings dato</label>
        <input value="2023-04-01" id="delevery" name="delevery" type="date" class="form-ipt">
      </div>
      <div class="ipts-row ipts-row-dims">
        <label class="ipt-label default-font" for="customerAddress">Adresse</label>
        <input id="customerAddress" value="Kværnergade 22" name="customerAddress" class="form-ipt">
      </div>
      <div class="ipts-row ipts-row-dims">
        <label class="ipt-label default-font" for="payment">Månedlig ydelse</label>
        <input value="3499" id="payment" name="payment" type="number" class="form-ipt">
      </div>
      <div class="ipts-row ipts-row-dims">
        <label class="ipt-label default-font" for="customerPhone">Telefon</label>
        <input id="customerPhone" value="31165870" name="customerPhone" class="form-ipt">
      </div>
      <div class="ipts-row ipts-row-dims">
        <label class="ipt-label default-font" for="cars">Vognnummer</label>
        <select th:field="*{carNumber}" id="cars" class="form-ipt">
          <option th:each="car : ${cars}"
                  th:value="${car.getInternalNumber()}"
                  th:text="${
                  car.getInternalNumber()+' ('+car.getBrand()+' '+ car.getModel()+')'}">></option>
        </select>
      </div>
    </div>
    <div class="btn-flex">
      <div th:replace="/fragments/shared/cancel_button.html :: cancelButton('/overview')"></div>
      <div th:replace="/fragments/shared/submit_button.html"></div>
    </div>
  </form>
</div>