
<!-- Author: Martin Hansen -->

<div th:fragment="annualRevenue(revenue)" xmlns:th="http://www.thymeleaf.org">
    <div class="ar-flex">
        <div th:insert="/fragments/shared/page_title.html :: title('Udlejede biler', 'Samlet indtjening for udlejede biler i valgt periode')"></div>
        <div class="revenue-box">
            <div class="revenue-text ar-font" th:text="${revenue} + ' Kr'"></div>
            <div class="interval-descriptor ar-font">Årligt</div>
        </div>
    </div>
</div>