
<!--        Filter, kalendar og tal-->
<div th:fragment="filterSearch(activeCount, inactiveCount)">
    <div class="display">
        <div class="filterContainer">FILTER</div>
        <div class="periodeContainer">PERIODE</div>
        <div class="fontActiveInactive" th:text="${activeCount}">Active</div>
        <div class="fontActiveInactive" th:text="${inactiveCount}">Inactive</div>
        <div class="searchContainer">Søg...</div>
        <div>TEST</div>
    </div>
</div>
<!--        Search bar
<i class="fa fa-filter" style="font-size:24px"></i>
<i class="fa fa-calender" style="font-size:24px"></i>
<i class="fa fa-search" style="font-size:24px"></i>
-->


