<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div th:fragment="rentalCard(Agreement)">
      <div class="card-cont">
          <div class="card-img">
              <img width="252px" style="border-radius: 9px;"  th:src="@{/images/Nissan Shitbox.jpeg}">
          </div>
          <div class="card-title default-font">
              <div th:text=" ${agreement.getCar().getBrand()} + ' ' + ${agreement.getCar().getModel()}"></div>
          </div>
          <a th:href="@{/rental(rentalId=${agreement.getId()})}" class="details-btn">Detaljer</a>
          <div class="card-details">
              <p class="default-font card-details-head">
                  ÅRGANG
              </p>
              <p class="default-font card-details-sub" th:text="${agreement.getCar().getYear()}">
              </p>
              <p class="default-font card-details-head">
                  UDLEJET SIDEN
              </p>
              <p class="default-font card-details-sub"
                 th:text="${agreement.getStart().toString()}"></p>
              <p class="default-font card-details-head">
                  LEJER
              </p>
              <p class="default-font card-details-sub"
                 th:text="${agreement.getCustomer().getName()}">
              </p>
          </div>
          <div class="card-payment">
              <p class="default-font card-details-head">MÅNEDLIG YDELSE</p>
              <p style="display: flex; justify-content: end" class="default-font  card-details-sub" th:text="${agreement.getPayment()} + 'kr.'"></p>
          </div>

      </div>
  </div>
</body>
</html>