
@media (min-width: 1024px) {

    .Container {
        box-sizing: border-box;
        position: absolute;
        background: #161928;
        border: 3px solid #3F455B;
        border-radius: 4px;
    }
    .periodContainer {
        box-sizing: border-box;
        position: absolute;
        left: 11.42%;
        right: 78.7%;
        top: 0%;
        bottom: 0%;
        background: #161928;
        border: 3px solid #3F455B;
        border-radius: 4px;
    }

    .filterContainer {
        box-sizing: border-box;
        position: absolute;
        left: 0%;
        right: 90.43%;
        top: 0%;
        bottom: 0%;
        background: #161928;
        border: 3px solid #3F455B;
        border-radius: 4px;
    }

    .font {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        color: #3F455B;
    }

    .fontActiveInactive{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 800;
        font-size: 8px;
        line-height: 10px;

        color: #FFFFFF;
    }

    .textPositionPeriode {
        position: absolute;
        left: 14.04%;
        right: 79.4%;
        top: 26%;
        bottom: 26%;
    }

    .textPositionFilter {
        position: absolute;
        left: 3.09%;
        right: 91.9%;
        top: 26%;
        bottom: 26%;
    }
}

