
    .displayAll {
        box-sizing: content-box;
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    .filterPeriodeDisplay {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .activeInactiveDisplay{
        display: flex;
        flex-direction: column;
    }

    .searchDisplay{
        display: flex;
        flex-direction: row;
        justify-content: right;
    }

    .filterContainer {
        box-sizing: border-box;
        align-self: center;

        background: #161928;
        border: 3px solid #3F455B;
        border-radius: 4px;
    }

    .periodeContainer {
        box-sizing: border-box;
        align-self: center;

        background: #161928;
        border: 3px solid #3F455B;
        border-radius: 4px;
    }

    .activeContainer{

        background: #668CD7;
        border-radius: 10px;
    }

    .inactiveContainer{

        background: #3D455A;
        border-radius: 10px;
    }

    .searchContainer {
        box-sizing: border-box;

        background: #161928;
        border: 3px solid #3F455B;
        border-radius: 4px;
    }

    .searchForm {

    }

    .fontFilterPeriode {

        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;

        color: #3F455B;

    }

    .fontActiveInactive{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 800;
        font-size: 8px;
        line-height: 10px;

        color: #FFFFFF;
    }

    .fontSearch {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;

        color: #3F455B;
    }

    .textPositionPeriode {
        position: absolute;
        left: 14.04%;
        right: 79.4%;
        top: 26%;
        bottom: 26%;
    }

    .textPositionFilter {
        position: absolute;
        left: 3.09%;
        right: 91.9%;
        top: 26%;
        bottom: 26%;
    }

    .searchTextPosition {
        position: absolute;
        left: 75.39%;
        right: 20.37%;
        top: 26%;
        bottom: 26%;
    }

