<!--
    Authors: M. Kaan Arici - Nikki Deleuran - Martin Hansen
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Overview</title>
    <link href="../static/css/global.css">
    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" th:href="@{/css/filterSearch.css}"/>
    <link rel="stylesheet" th:href="@{/css/overview.css}"/>
    <link rel="stylesheet" th:href="@{/css/pageTitle.css}"/>
    <link rel="stylesheet" th:href="@{/css/rental_card.css}"/>
    <link rel="stylesheet" th:href="@{/css/annual_revenue.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <!--    Import navbar fragment    -->
        <div th:insert="/fragments/shared/navbar.html :: overviewNavBar"></div>
        <!--    Import page title fragment    -->

        <div th:replace="/fragments/overview/annual_revenue.html :: annualRevenue(${statistics.getRevenue()})"></div>
        <!--    Price for cars   -->
        <div th:replace="/fragments/overview/filterSearch.html :: filterSearch(${statistics.getAvailableCars()}, ${statistics.getUnavailableCars()})"></div>

        <br>
        <br>
        <div class="cards">
            <div th:each="agreement : ${agreements}">
                <div th:replace="/fragments/overview/rental_card.html :: rentalCard(${agreement})"></div>
            </div>
        </div>
    </div>
</body>
</html>